<h1>Builder template · {{section.settings.par}}</h1>
<h2>Cloned with the awesome TSCloner</h2>

{% schema %}
  {
    "name": "_Builder",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Hello World"
      }
    ]
  }
{% endschema %}
